#map-create {
    height: 300px;
}

.prova {
    font-size: 0.9rem !important;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    max-height: 80px;

    aspect-ratio: 1;
}